
/* Style for index.html */
html {
	height: 100%
}

body {
	padding: 70px;
	background-image:url('../images/Trees.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

#MarkerContent{
	color: black;
	text-align: left;

}

#content {
	text-align: center;
	padding-top: 22%;
	color: #FFFFFF;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);

}

input[type=text] {
		margin-top: 10px;
    width: 20%;
    box-sizing: border-box;
    border: 1px solid rgba(204, 204, 204, .5);
    border-radius: 2px;
    border-right: none;
    border-top: none;
    border-left: none;
		border-bottom: none;
    font-size: 16px;
    text-align: center;
    /*background-image: url('searchicon.png');*/
    background-color: rgba(0, 0, 0, 0.75);
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 12px 12px 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 25%;
		background-color: rgba(0, 0, 0, 0.5);
}

input:focus::-webkit-input-placeholder {
    opacity: 0;
}

#search {
    /*position: fixed;*/
    display: inline;
    margin: 0 auto;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    /*
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
/*
    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    */
    opacity: .7;
}
.searchinput {
	background-color : rgba(192,192,192,0.0);
}

#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}

#content button {
	/*color: #FFD700;*/
	color: #9d9d9d;
	background-color: #222;
	margin-top: 5px;
}

#gmap {
	background-color: #000000;
	width: 100%;
	height: 80%;
	position: absolute;
	left: 0px;
	top: 100%;
	z-index: 0;
}

#map {
	height: 100%;
	width: 100%;
    z-index: 90;
}

#vis {
	background-color: #FFFFFF;
	width: 100%;
	height: auto;
	position: absolute;
	left: 0px;
	margin-top: 0px;
	text-align: center;
	color: #000000;
}

h1 {
	font-weight: 700;
	font-family: 'Lobster', cursive;
	font-size: 8em;
	color: #FFFFFF
}

h3 {
	font-weight: 500;
	font-size: 3em;
	color: #FFFFFF;
	font-family: 'Abel', sans-serif;
}

hr {
	width: 400px;
	border-top: 1px solid #FFD700;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}



#footer, #footer a, #footer .navbar-text {
		margin: 20px 0 0 0;
    color: #9d9d9d;
    width: 100%;
		text-decoration: none;
		font-size: 10px;
}

#footer a:visited {
	color: #9d9d9d;
	text-decoration: none;
}

/* For data vis 1*/
#svgPanel {
	stroke: #000000;
	background-color: rgba(255,255,255,0.4);
	margin: 100px;
	-webkit-box-shadow: 6px 6px 13px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 6px 13px -3px rgba(0,0,0,0.75);
     box-shadow: 6px 6px 13px -3px rgba(0,0,0,0.75);
}

#status {
	color: white;
}



.bar{
	fill: steelblue;
	opacity: 1;
}

.bar:hover{
	fill: brown;
	opacity: 1;
}

.axis {
	font: 10px sans-serif;
	opacity: 1;
	color:white;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
	opacity: 1;
	color: white;
}


.axis--x path {
	display: none;
}


.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#return-to-top {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background: rgb(45, 42, 42);
    background: rgba(45, 42, 42, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
		z-index: 100000;
}

#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
		z-index: 100000;
}

#return-to-top:hover {
    background: rgba(45, 42, 42, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

/*#vis1, #vis2 {
	width: 100%;
	height: 1000px;
	display: inline-block;
	clear: both;
}*/

#visuals {
	margin-top: 800px;
}


/**** The Modal (background) ****/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalcontent {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button  darkskin #375d3b  lightskin #74a63b*/
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalheader {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#modalbody {padding: 2px 16px;}

#modalfooter {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

#modaltitle {
	color: #FFFFFF;
	font-family: 'Abel', sans-serif;
}

a:link {
color: #FFFFFF;
}
a:visited {
color: #FFFFF0;
}
a:hover {
color: #FFFFFA=+;
}


/* Slider */
.slidecontainer {
    height:100%;
    background-color:#EFEFEF;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    position: absolute;
    width:100%;
    top:0;
    left:0;
    white-space:no-wrap;
    

}
.slidecontainer .slide {
    width:240px;
    height:100%;
    background-color:#fafafa;
    position:absolute;
    top:0;
    left:-240px;
    z-index: 95;
    overflow: auto;
    
} 
.slidecontainer .slide ul {
    padding:0px;
    margin:0px;
    list-style:none;
}
.slidecontainer .slide ul li {
    padding:15px;
    display:block;
    border-bottom:1px solid #ddd;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}
.slidecontainer .slide ul li a {
    text-decoration:none;
    color:#757575;
    font-weight:400;
    font-size:18;
    
}

.slidecontainer .slide ul li:hover  {
    background-color:#e0e0e0;
}



.slidecontainer .content {
    padding: 30px 80px;
    
}

.slidecontainer .area {
    height:100%;
    width:50px;
    position:absolute;
    background-color:#5cb85c;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.26);
    z-index: 100;
}

.toggle {
    padding:5px;
    border-radius:3px;
    background-color:trasnparent;
    position:relative;
    float:left;
    left:4px;
    top:2px;
    
    
}

.toggle .lines {
    width: 30px;
    background-color: #fff;
    height: 4px;
    display: block;
    margin-bottom: 4px;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    
    
}


.menu-open {
    left:240px;
    
}

.opacity {
    display:none;
    background-color:#000;
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    z-index:999;
}

.opacity2 {
    left:50px!important;
    display:block;
    opacity:.5;
    animation: fade 1s ease-in-out 1;
    z-index:999;

}


@keyframes fade {
    0% {
        opacity:0;
    }
    
    25% ,50%, 75%, 100%{
        opacity:.5
    }
    

}

.toggle .bars2 {
    transform: rotate(180deg);
    margin-left:4px;
    
}


.bars {
    font-size:32px;
    color:white;
}


.accord {
    width:800px;
    margin:auto;
    overflow:hidden;
    height:335px;
    transition: all .5s ease-in-out;
    
}

.accord ul {
    padding:0px;
    margin:px;
    transition: all .5s ease-in-out;

}

.accord ul li {
    display:block;
    float:left;
    width:160px;
    border-left:1px solid #ddd;
    position:relative;
    transition: all .6s ease-in-out;

    
}

.accord ul:hover  li {
    width:40px;
}
.accord ul  li:hover {
    width:640px;

}

.accord ul  li:hover  a{
    transition:all .7s ease-in-out;
    bottom:5px;

    

}
.accord  .title {

}

.accord  .title a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    width: 640px;
    position: absolute;
    bottom: -50px;
    left: 0;
    padding: 10px;
    background-color: rgba(0,0,0,.7);
    transition:all .5s ease-in-out;
    
}

.sliderarrow {
    display: flex;
    margin-top: 45px;
    margin-left: 7px;
    -webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
    color: white;
    animation: rotate 1s backwards;
}

.sliderarrow2 {
    display: flex;
    margin-top: 45px;
    margin-left: 7px;
    -webkit-transform-origin: 50% 50%;
-moz-transform-origin: 50% 50%;
-o-transform-origin: 50% 50%;
transform-origin: 50% 50%;
    color: white;
    animation: rotate 1s forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    
    25% ,50%, 75%, 100%{
        transform: rotate(180deg);
    }
    

}
.gmnoprint {
    
}


.gm-style-mtc {
    z-index: 1000 !important;
    margin-left: 60px !important;
}



